@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i');

body {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 20px;
    color: #333;
    line-height: 120%;
}

body a {
    color: #2b7bb9 !important;
    text-decoration: none;
}

body a:hover {
    color: #3992d7 !important;
}

body article {
    font-size: 20px;
    font-weight: 300;
    line-height: 140%;
}

body article blockquote p {
    font-family: 'Droid Serif', serif;
    font-size: 34px;
    color: #777;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 20px;
}

body article blockquote p:before {
    content: "â€";
    font-size: 200px;
    color: #a0a8ba;
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: auto;
    opacity: 0.6;
}

body article blockquote h4 {
    font-style: italic;
}

body .lb-timeline {
    max-width: 100%;
    margin-top: 0;
    border-top: none
}


body .lb-timeline__header {
    font-family: 'Droid Serif', serif;
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center center;
    padding: 70px 10px;
}

body .description {
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px 0px;
}

body .lb-timeline__headerHeadline {
    position: relative;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 20px auto;
}

body .lb-timeline__headerHeadline:before {
    position: absolute;
    content: " ";
    display: block;
    width: 80px;
    height: 1px;
    background: #fff;
    top: -20px;
    left: 50%;
    margin-left: -40px;
}

body .lb-timeline__headerYear {
    font-size: 60px;
    display: inline-block;
    margin: 20px 0px;
}

body .lb-timeline__logo {
    position: absolute;
    top: 30px;
    right: 30px;
}

body .lb-timeline__logo img {
    vertical-align: middle;
}

body .lb-poweredBy {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 11px;
    color: #ccced4;
    display: inline-block;
    vertical-align: middle;
    margin-top: 4px;
}

body .header-bar,
body .timeline-body {
    position: relative;
    max-width: 900px;
    margin: 0 auto
}

body .header-bar {
    position: relative;
    padding: 18px 0px;
    margin: 40px auto;
    border: none;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,245,245,1) 10%, rgba(246,245,245,1) 47%, rgba(246,245,245,1) 90%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(10%, rgba(246,245,245,1)), color-stop(47%, rgba(246,245,245,1)), color-stop(90%, rgba(246,245,245,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,245,245,1) 10%, rgba(246,245,245,1) 47%, rgba(246,245,245,1) 90%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,245,245,1) 10%, rgba(246,245,245,1) 47%, rgba(246,245,245,1) 90%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,245,245,1) 10%, rgba(246,245,245,1) 47%, rgba(246,245,245,1) 90%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,245,245,1) 10%, rgba(246,245,245,1) 47%, rgba(246,245,245,1) 90%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

body .header-bar:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    height: 1px;
    width: 100%;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 10%, rgba(214,214,214,1) 47%, rgba(214,214,214,1) 90%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(10%, rgba(214,214,214,1)), color-stop(47%, rgba(214,214,214,1)), color-stop(90%, rgba(214,214,214,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 10%, rgba(214,214,214,1) 47%, rgba(214,214,214,1) 90%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 10%, rgba(214,214,214,1) 47%, rgba(214,214,214,1) 90%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 10%, rgba(214,214,214,1) 47%, rgba(214,214,214,1) 90%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 10%, rgba(214,214,214,1) 47%, rgba(214,214,214,1) 90%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

body .header-bar:after, body .lb-post:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    height: 1px;
    width: 100%;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 10%, rgba(214,214,214,1) 47%, rgba(214,214,214,1) 90%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(10%, rgba(214,214,214,1)), color-stop(47%, rgba(214,214,214,1)), color-stop(90%, rgba(214,214,214,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 10%, rgba(214,214,214,1) 47%, rgba(214,214,214,1) 90%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 10%, rgba(214,214,214,1) 47%, rgba(214,214,214,1) 90%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 10%, rgba(214,214,214,1) 47%, rgba(214,214,214,1) 90%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 10%, rgba(214,214,214,1) 47%, rgba(214,214,214,1) 90%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

body .sorting-bar {
    display: inline-block;
    vertical-align: middle;
    min-height: auto;
}

body .header-bar__actions {
    position: relative;
    display: inline-block;
    float: right;
    top: -4px;
    right: auto;
}

body .sorting-bar__orders {
    padding-left: 95px !important;
}

body .sorting-bar__title {
    color: #333;
}

body .sorting-bar__order {
    margin: 0px 20px;
}

body .sorting-bar__title, body .sorting-bar__order {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px;
}

body .sorting-bar__order--active, body .sorting-bar__order:hover {
    color: #d54444;
    text-transform: uppercase;
    border-bottom: none;
    text-decoration: underline;
}

body .header-bar .btn {
    font-size: 18px;
    color: #999;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px 20px;
    box-shadow: none;
    background: transparent;
}

body .header-bar .btn:hover {
    color: #d54444;
    text-transform: uppercase;
    text-decoration: underline;
}

body .modal .modal-header h2 {
    font-family: 'Droid Serif', serif;
    font-size: 1.4em;
    color: #415175;
    font-weight: 300;
}

body .modal .content label {
    font-size: 14px;
}

body .modal .content input, body .modal .content textarea {
    font-size: 18px;
}

body .modal .content .error {
    font-size: 14px;
}

body .modal-footer .btn {
    font-size: 14px;
    padding: 0px 30px;
    line-height: 50px;
    height: auto;
}

body .btn-primary {
    background-color: #d54444;
}

body .btn-primary:hover {
    background-color: #d83131;
}

body .lb-post {
    padding: 50px 0px;
    border-bottom: none;
}

body .lb-item {
    margin: 0 auto !important;
    max-width: 650px;
}

body .lb-item ul, body .lb-item ol {
    margin-bottom: 20px;
}

body .lb-item ol li, body .lb-item ul li {
	margin-bottom: 10px;
}

body .highlighted-lb_post {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,245,245,1) 10%, rgba(246,245,245,1) 47%, rgba(246,245,245,1) 90%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(10%, rgba(246,245,245,1)), color-stop(47%, rgba(246,245,245,1)), color-stop(90%, rgba(246,245,245,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,245,245,1) 10%, rgba(246,245,245,1) 47%, rgba(246,245,245,1) 90%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,245,245,1) 10%, rgba(246,245,245,1) 47%, rgba(246,245,245,1) 90%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,245,245,1) 10%, rgba(246,245,245,1) 47%, rgba(246,245,245,1) 90%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,245,245,1) 10%, rgba(246,245,245,1) 47%, rgba(246,245,245,1) 90%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );    
}

body .show-author-avatar .lb-author, body .show-author-avatar .lb-item {
    max-width: 650px;
    margin: 0 auto;
}

body .lb-author__avatar {
    top: -20px;
    width: 60px;
    height: 60px;
}

body .lb-author__date, body .lb-author__name {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

body .lb-gallery {
    max-width: 650px;
    margin: 0 auto;
}

body .item--embed__title {
    font-family: 'Droid Serif', serif;
    font-size: 1.4em;
    color: #415175;
    font-weight: 300;
}

body .item--embed__title a {
    color: #415175 !important;
}

body .item--embed__title a:hover {
    color: #5d6d92;
}

body .lb-updated-date span {
    font-size: 14px;
    color: #777;
    font-weight: 400;
}

body .pin-posts .lb-post {
    background: 0 0;
}

body .pin-posts .lb-author {
    display: none;
}

body .pin-posts .show-author-avatar .lb-author, body .pin-posts .show-author-avatar .lb-item {
    max-width: none;
    margin-left: 0px;
}

/* Freetypes styles */

body .results__headline {
    font-family: 'Droid Serif', serif;
    font-size: 42px;
    color: #415175;
    text-align: center;
    line-height: 140%;
}

body .results__subheadline {
    text-align: center;
    margin: 0px;
}

body .result__item {
    display: flex;
    align-items: center;
    margin: 40px 0px;
}

body .result__candidateWrap {
    flex: 1 1 auto;
    margin-top: 40px;
    margin-left: -7px;
    z-index: 1;
}

body .result__item--blue .result__itemImage {
    border: 5px solid #60a2d8;
}

body .result__item--blue .result__candidateBar {
    background: #60a2d8;
}

body .result__item--orange .result__itemImage {
    border: 5px solid #e7543c;
}

body .result__item--orange .result__candidateBar {
    background: #e7543c;
}

body .result__item--red .result__itemImage {
    border: 5px solid #d54444;
}

body .result__item--red .result__candidateBar {
    background: #d54444;
}

body .result__item--yellow .result__itemImage {
    border: 5px solid #ffe25a;
}

body .result__item--yellow .result__candidateBar {
    background: #ffe25a;
}

body .result__itemImage {
    flex: 1 0 auto;
    width: 128px;
    height: 128px;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid #60a2d8;
    z-index: 2;
}

body .result__candidateBarWrap {
    height: 30px;
}

body .result__candidateBar {
    height: 30px;
}

body .result__candidateName {
    font-family: 'Droid Serif', serif;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}

body .result__candidateScore {
    font-family: 'Droid Serif', serif;
    font-size: 36px;
    font-weight: 700;
    float: right;
}

body .result__pollSource {
    font-size: 18px;
    font-style: italic;
}

body .turnout__results {
    display: flex;
    text-align: center;
    max-width: 700px;
    justify-content: space-between;
    margin: 60px auto 40px auto;
}

body .turnout__result {
    flex: 1 1 20%;
}

body .turnout__resultItem {
    position: relative;
    margin: 10px 0px;
}

body .turnout__resultItem:before {
    position: absolute;
    content: " ";
    display: block;
    height: 1px;
    background: #d6d6d6;
    top: 33%;
    left: 0px;
    right: 0px;
    text-align: center;
}

body .turnout__resultItem:after {
    position: absolute;
    content: " ";
    display: block;
    height: 1px;
    background: #d6d6d6;
    top: 66%;
    left: 0px;
    right: 0px;
    text-align: center;
}

body .turnout__headline {
    font-family: 'Droid Serif', serif;
    font-size: 42px;
    color: #415175;
    text-align: center;
    line-height: 140%;
}

body .turnout__subheadline {
    text-align: center;
    margin: 0px;
}

body .turnout__resultScore {
    font-family: 'Droid Serif', serif;
    font-size: 24px;
    font-weight: 700;
}

body .turnout__resultUntil {
    font-size: 16px;
    color: #d54444;
    line-height: 18px;
    font-weight: 400;
    margin-top: 5px;
    text-transform: uppercase;
    white-space: nowrap;
}

body .turnout__resultBarWrap {
    width: 34px;
    height: 250px;
    background: transparent;
}

body .turnout__resultBarWrap--highest .turnout__resultBar {
    background: #d54444;
    opacity: 0.9;
}

body .turnout__resultBar {
    width: 34px;
    background: #415175;
    opacity: 0.7;
    bottom: -2px;
}

body .turnout__resultYear {
    font-size: 18px;
    font-weight: 400;
}

@media (max-width:1366px) {
    body .lb-timeline__header {
        padding: 40px 10px;
    }
    body .lb-post {
        padding: 30px 0px;
    }
}

@media (max-width:992px) {
    body .header-bar, body .timeline-body {
        padding-left: 10px;
        padding-right: 10px;
    }

    body .sorting-bar__order {
        margin: 0 10px;
    }

    body .sorting-bar__order, body .sorting-bar__title, body .header-bar .btn {
        font-size: 16px;
    }

    body .header-bar .btn {
        margin: 0 10px;
    }

    lb-dropdown>div>div.dropdown-display {
        background: transparent;
        border: none;
    }

    lb-dropdown>div>div.dropdown-display>span {
        font-size: 14px;
    }

    .lb-author__avatar {
        left: auto;
    }

    body .lb-author__date {
        margin-left: 80px;
    }

    body article blockquote p::before {
        right: 10px;
    }
}

@media (max-width: 600px) {
    body .lb-timeline__logo {
        top: 20px;
        right: 20px;
    }
    body .lb-timeline__headerHeadline, body .lb-timeline__headerYear {
        font-size: 40px;
    }

    body article {
        font-size: 18px;
    }

    body article blockquote p {
        font-size: 30px;
    }

    body .header-bar .btn {
        font-size: 14px;
        float: none;
    }

    body .header-bar__actions {
        top: 3px;
    }

    body .toggleHighlights {
        vertical-align: middle;
    }

    body lb-dropdown>div>div.dropdown-list>div>div.selected {
        background: #415175;
    }

    body .btn.comment i {
        display: none;
    }

    body .lb-author__avatar {
        top: -10px;
        width: 40px;
        height: 40px;
    }

    body .lb-author__date, body .lb-author__name {
        margin-left: 60px;
        margin-bottom: 10px;
    }

    body .results__headline, body .turnout__headline {
        font-size: 32px;
    }

    body .result__item {
        flex-direction: column;
    }

    body .result__candidateWrap {
        text-align: center;
        margin-top: 10px;
    }

    body .result__itemImage {
        width: 90px;
        height: 90px;
    }

    body .result__candidateName {
        margin: 10px 0px;
        display: block;
    }

    body .result__candidateScore {
        display: block;
        float: none;
    }

    body .turnout__resultScore {
        font-size: 16px;
    }

    body .turnout__resultUntil {
        font-size: 14px;
    }
}